<div class="lyricArea">
	<style>

		#genie-lyrics-div {
			max-height: 400px;
			overflow-x: scroll;
			overflow-y: scroll;
			background-color: white;
			grid-column: 1;

			font-size: 20px;
			font-family: sans-serif;
			line-height: 30px;
			direction: ltr;
		}

		#genie-annotation-div {
			max-height: 400px;
			overflow-x: scroll;
			overflow-y: scroll;
			background-color: white;
			grid-column: 2;

			font-size: 20px;
			font-family: sans-serif;
			line-height: 30px;
		}

		#genie-annotation-div img {
			max-width: 500px;
			height: auto;
		}

		.lyricArea {
			display: inline-grid;
			grid-template-columns: 50%;
			margin-top: 10px;
			width: 100%;
		}

		.referent {
			background-color: #e0e0e0;
			color: black;
			text-decoration: none;
		}

		.referent:hover {
			background-color: #ffff64;
			color: black;
			text-decoration: none;
			cursor: pointer;
		}

	</style>

	<div id="genie-lyrics-div">

	</div>

	<div id="genie-annotation-div">
		Click on the lyrics to get annotations
	</div>

</div>